{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>buckets</h1>
        <ul>
          {{#bucketCfgs}}
            <li><a href="#sectionBucket:{{.ident}}">{{.name}}</a></li>
          {{/bucketCfgs}}
        </ul>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}
          {{# .class == "bucketCfg" }}
            {{>bucketCfgPanel}}
          {{/ .class == "bucketCfg" }}
        {{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
