{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>buckets</h1>
        <div>
          <select id="bucket_pool">
            {{#poolNames}}
              <option value="{{.}}">{{.}}</option>
            {{/poolNames}}
          </select>
          <input id="bucket_name"
                 placeholder="new bucket names"/>
          <input id="bucket_numPartitions"
                 placeholder="number of partitions"/>
          <input id="bucket_numSlaves"
                 placeholder="replica count"/>
          <input id="bucket_perNodeMemory"
                 placeholder="RAM quota (MB) per node"/>
          <button class="btn newBucket" on-click="newBucket">
            create buckets
          </button>
        </div>
        {{# buckets.length > 0 }}
          <div class="subSection">
            buckets:
            <ul>
              {{#buckets}}
                <li class="{{ .class == obj.class && .path == obj.path && 'current' }}">
                  <a href="#uiBucket:bucket-{{.path}}">{{.path}}</a>
                </li>
              {{/buckets}}
            </ul>
          </div>
        {{/}}
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}{{>__object}}{{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
