{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>nodes</h1>
        <ul>
          {{#nodeCfgs}}
            <li><a href="#sectionNodes:nodeCfg-{{.name}}">{{.name}}</a></li>
          {{/nodeCfgs}}
        </ul>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{# obj.class == "nodeCfg" }}
          {{#obj}}{{>__object}}{{/obj}}
        {{/}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
