{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>nodes</h1>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
