.main {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.visual .resourceEvent {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
    margin-top: 8em;
    padding-bottom: 1em;
}
.visual .resourceEvent_when {
    position: absolute;
    -webkit-transform: translate(-0.5em,-4em) rotate(-40deg);
}
.visual .partition {
    position: relative;
    height: 8px;
}
.visual .partitionId {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 8px;
    font-size: 6px;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
}
.visual .nodes {
    margin-top: 1em;
}
.visual .nodeId {
    position: relative;
    display: inline-block;
    width: 12px;
    font-size: 6px;
    -webkit-transform: rotate(-40deg);
}
.visual .node {
    display: inline-block;
    border: 1px solid #888;
}
.visual .node div {
    position: relative;
    width: 10px;
    height: 8px;
}
.visual .node .master {
    background-color: green;
}
.visual .node .master.pos1 {
    background-color: #30A030;
}
.visual .node .master.pos2 {
    background-color: #60B060;
}
.visual .node .slave {
    background-color: orange;
}
.visual .node .slave.pos1 {
    background-color: #FFC520;
}
.visual .node .slave.pos2 {
    background-color: #FFE570;
}
.visual .node .dead {
    background-color: #ccc;
}
.visual .node .null {
    background-color: white;
}
.visual .partitionParams {
    margin-top: 3em;
    font-size: 8px;
}
.visual .partitionParams .partitionParam {
    max-width: 20em;
    -webkit-transform: translate(2em,0)
                       translate(-50%,-50%) rotate(-40deg) translate(50%,50%);
}
.warnings {
    margin-top: 2em;
    max-width: 16em;
    font-size: 7pt;
}
.controls {
    max-width: 10em;
    margin-top: 2em;
    margin-left: 2em;
}
.controls button {
    display: block;
    margin-top: 1em;
}
#qunit {
    margin-top: 4em;
}