<div class="navbar navbar-inverse navbar-fixed-bottom footer">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a onclick="tests(); $('#qunit').show();">unit tests</a></li>
      <li><a href="#uiPartition:">partitions</a></li>
      <li><a href="#ui_page:page-help">help</a></li>
    </ul>
  </div>
</div>
