<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <ul class="nav">
      <li><a href="#{{ appInfo.startIdent }}">home</a></li>
      {{#sections}}
        <li><a href="{{.target}}">{{.title}}</a></li>
      {{/sections}}
      <li><a href="#ui_page:page-help">help</a></li>
    </ul>
  </div>
</div>
