{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>users</h1>
        <div>
          <input id="user_name"
                 placeholder="new user names"/>
          <input id="user_roles"
                 placeholder="roles"/>
          <button class="btn newUser" on-click="newUser">
            new users
          </button>
        </div>
        {{# users.length > 0 }}
          <div class="subSection">
            users:
            <ul>
              {{#users}}
                <li class="{{ .class == obj.class && .name == obj.name && 'current' }}">
                  <a href="#uiUser:user-{{.name}}">{{.name}}</a>
                </li>
              {{/users}}
            </ul>
          </div>
        {{/}}
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}{{>__object}}{{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
