{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>pools</h1>
        <div>
          <input on-change="newPool" class="newPool"
                 placeholder="new pool names"/>
        </div>
        {{# pools.length > 0 }}
          <div class="subSection">
            pools:
            <ul>
              {{#pools}}
                <li>
                  <a href="#sectionPool:pool-{{.name}}">{{.name}}</a>
                </li>
              {{/pools}}
            </ul>
          </div>
        {{/}}
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}{{>__object}}{{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
