{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>nodes</h1>
        <input on-change="newNodeKnown" class="newNodeKnown"
               placeholder="new known node names"/>
        <div>
          in cluster:
          <ul>
            {{#nodeWantedNames}}
              <li>
                <input type="checkbox" checked=""/>
                <a href="#sectionNode:nodeWanted-{{.}}">{{.}}</a></li>
            {{/nodeWantedNames}}
          </ul>
        </div>
        <div>
          not in cluster:
          <ul>
            {{#nodeUnwantedNames}}
              <li>
                <input type="checkbox" checked=""/>
                <a href="#sectionNode:nodeKnown-{{.}}">{{.}}</a></li>
            {{/nodeUnwantedNames}}
          </ul>
        </div>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}{{>__object}}{{/obj}}
        <button class="btn btn-small" on-click="editTask">
          {{ doEdit ? 'cancel edit' : 'edit task' }}
        </button>
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
