{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>nodes</h1>
        <input on-change="newNodeKnown" class="newNodeKnown" placeholder="new known node names"/>
        <ul>
          {{#nodesKnown}}
            <li><input type="checkbox" checked="{{.wanted}}"/>
                <a href="#sectionNode:nodeKnown-{{.name}}">{{.name}}</a></li>
          {{/nodesKnown}}
        </ul>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{#obj}}{{>__object}}{{/obj}}
        <button class="btn btn-small" on-click="editTask">
          {{ doEdit ? 'cancel edit' : 'edit task' }}
        </button>
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
