{{# obj.class == 'bucketEvents' }}
  {{#obj}}
    <ul class="visual">
    {{#events:eventIdx}}
      {{# class == "partitionMap" }}
        <li class="bucketEvent">
          {{{ visualBucketEvent(.) }}}
        </li>
      {{/}}
    {{/events}}
    </ul>
  {{/obj}}
{{/}}
