{{#obj.class == 'bucketEvents'}}
  {{#obj}}
    <ul class="visual">
    {{#events:eventIdx}}
      {{#.class == 'partitionMap'}}
        <li class="partitionMap">
          {{when}}
          {{#partitions:partitionId}}
            <div>
              {{#obj.events[eventIdx].nodes:nodeIdx}}
                <div class="node">
                  {{#partitions[partitionId]:state}}
                    {{# _.contains(partitions[partitionId][state],nodeIdx) }}
                      <div class="{{state}}"></div>
                    {{/}}
                  {{/partitions[partitionId]}}
                </div>
              {{/obj.events[eventIdx].nodes}}
            </div>
          {{/partitions}}
        </li>
      {{/}}
    {{/events}}
    </ul>
  {{/obj}}
{{/}}
