{{# obj.class == 'bucketEvents' }}
  <ul class="visual">
    {{#sortDesc(obj.events,"when"):eventIdx}}
      {{# class == 'partitionMap' }}
        <li class="partitionMap">
          {{#partitions:partitionId}}
            <div class="partition">
              {{partitionId}}
              {{#obj.events[eventIdx].nodes:nodeIdx}}
                <div class="node">
                  {{#partitions[partitionId]:state}}
                    {{# _.contains(partitions[partitionId][state], nodeIdx) }}
                      <div class="{{state}}"></div>
                    {{/}}
                  {{/}}
                  {{^ _.contains(_.flatten(_.values(partitions[partitionId])), nodeIdx) }}
                    <div class="null"></div>
                  {{/}}
                </div>
              {{/}}
            </div>
          {{/partitions}}
        </li>
      {{/}}
    {{/}}
  </ul>
{{/}}
