{{>main_header}}

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h3>cbgm</h3>

        <button class="btn btn-small" on-click="rebalance">
          rebalance
        </button>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{>bucketEventsVisual}}
        {{#obj}}{{>__object}}{{/obj}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
