.lhs {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.rhs {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.visual .node {
    display: inline-block;
}
.visual .node .master {
    width: 1em;
    height: 1em;
    background-color: green;
}
.visual .node .slave {
    width: 1em;
    height: 1em;
    background-color: orange;
}
.visual .node .dead {
    width: 1em;
    height: 1em;
    background-color: #bbb;
}
