.lhs {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.rhs {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
}
.visual .partitionMap {
    padding-bottom: 1em;
}
.visual .partition {
    position: relative;
    min-width: 200px;
    height: 8px;
    font-size: 6px;
}
.visual .node {
    display: inline-block;
    border: 1px solid #888;
}
.visual .node div {
    position: relative;
    width: 10px;
    height: 8px;
}
.visual .node .master {
    background-color: green;
}
.visual .node .slave {
    background-color: orange;
}
.visual .node .dead {
    background-color: #ccc;
}
.visual .node .null {
    background-color: white;
}

