{{# obj.class == 'resourceEvents' }}
  {{#obj}}
    <ul class="visual">
    {{#events:eventIdx}}
      {{# class == "partitionMap" }}
        <li class="resourceEvent">
          {{{ visualResourceEvent(.) }}}
          <div class="controls">
            <button id="{{when}}" class="btn btn-mini" on-click="scheduleMoves">
              moves
            </button>
          </div>
        </li>
      {{/}}
    {{/events}}
    </ul>
  {{/obj}}
  <div class="schedule">{{schedule}}</div>
{{/}}
