{{>main_header}}

<div class="container-fluid main">
  <div class="row-fluid">
    <div class="span3">
      <div class="lhs">
        <h1>maps</h1>
        <button class="btn btn-small" on-click="refreshMaps">
          refresh maps
        </button>
        {{# resourceEvents.length > 0 }}
          <div class="subSection">
            maps:
            <ul>
              {{#resourceEvents}}
                <li class="{{ .class == obj.class && .name == obj.name && 'current' }}">
                  <a href="#uiMap:resourceEvents-{{.name}}">{{.name}}</a>
                </li>
              {{/resourceEvents}}
            </ul>
          </div>
        {{/}}
        <ul class="warnings">
          {{#warnings}}
            <li>{{.}}</li>
          {{/warnings}}
        </ul>
      </div>
    </div>
    <div class="span7">
      <div class="rhs">
        {{# obj.class == 'resourceEvents' }}
          {{#obj}}
            {{.name}}
            <ul class="visual">
            {{#events:eventIdx}}
              {{# class == "partitionMap" }}
                <li class="resourceEvent">
                  {{{ visualResourceEvent(.) }}}
                  <div class="controls">
                    <button id="{{when}}" class="btn btn-mini" on-click="scheduleMoves">
                      moves
                    </button>
                  </div>
                </li>
              {{/}}
            {{/events}}
            </ul>
          {{/obj}}
          <div class="schedule">{{schedule}}</div>
        {{/}}
      </div>
    </div>
  </div>
</div>

{{>main_footer}}
